{% extends "base.html" %}

{% block content %}
<h2>Prototype Application (mostly a data model as of 2011-02-11)</h2>
<h3>
<ul>
    <a href="/admin/" target="new">Admin Page (where you can edit objects directly)</a><br />
    <a href="/admin/doc/" target="new">Auto-Documentation of the application</a><br />
</ul>
</h3><br />
<h2>Wireframes</h2>
<h3>
    <ul>
        <a href="http://duchamp.library.emory.edu/Digwf_py-wireframes.pdf" target="new">Wireframes of the workflow pages (as of 2011-02-11; more to come)</a><br />
    </ul>
</h3>
<h2>Working Notes</h2>
<h3>
    <ul>
            <a href="https://docs.google.com/document/d/1FqIbO-6zgObZ9WWoqyg16lUyVqll54mbrMFrqlljDDU/edit" target="new">Working notes on developing the application (Google Doc)</a><br />
    </ul>
</h3>
<h2>Source Code</h2>
<h3>
    <ul>
        <a href="https://github.com/jkylefenton/digwf_py" target="new">Source code (at GitHub)</a><br />
    </ul>
</h3>
{% endblock %}